<?xml version="1.0"?>
<config>
    <modules>
        <Prakhar_customreports>
            <version>1.0.0</version>
        </Prakhar_customreports>
    </modules>
    <admin>
        <routers>
            <customreports>
                <use>admin</use>
                <args>
                    <module>Prakhar_Customreports</module>
                    <frontname>customreports</frontname>
                </args>
            </customreports>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <report>
                <children>
                    <customreports translate="title" module = "customreports">
                        <title>Custom Report</title>
                        <action>customreports/admintml_customreports</action>
                    </customreports>
                </children>
            </report>
        </menu>
        <layout>
            <updates>
                <customreports>
                    <file>customreports.xml</file>
                </customreports>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <customreports>
                <class>Prakhar_Customreports_Model</class>
                <resourceModel>customreports</resourceModel>
            </customreports>
        </models>
        <resources>
            <customreports_setup>
                <setup>
                    <module>Prakhar_Customreports</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customreports_setup>
            <customreports_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customreports_read>
            <customreports_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customreports_write>
        </resources>
        <blocks>
            <customreports>
                <class>Prakhar_Customreports_Block</class>
            </customreports>
        </blocks>
        <helpers>
            <customreports>
                <class>Prakhar_Customreports_Helper</class>
            </customreports>
        </helpers>
    </global>
</config>