<?xml version="1.0"?>
<config>
	<modules>
		<Zest_Neworder>
			<version>1.0.0</version>
		</Zest_Neworder>
	</modules>
	
	<global>
		<helpers>
			<neworder>
				<class>Zest_Neworder_Helper</class>
			</neworder>
		</helpers>
		
				
		
		<template>
			<email>
				<Zest_Neworder_email>
					<label>Admin New Order Mail</label>
					<file>neworder/new_order.html</file>
					<type>html</type>
				</Zest_Neworder_email>
			</email>
		</template>
		
		<events>
			<sales_order_save_after>
				<observers>
					<Zest_Neworder_orderobserver>
						<type>singleton</type>
						<class>Zest_Neworder_Model_Orderobserver</class>
						<method>orderSaved</method>
					</Zest_Neworder_orderobserver>
				</observers>
			</sales_order_save_after>
		</events>
	</global>

	<admin>
		<routers>
			<neworder>
				<use>admin</use>
				<args>
					<module>Zest_Neworder</module>
					<frontName>neworder</frontName>
				</args>
			</neworder>
		</routers>
	</admin>

</config> 